<%= form_with(model: favorite) do |form| %>
  <div class="field">
    <%= form.label :favorite %>
    <%= form.text_field :favorite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
