<h1>レシピ詳細</h1>

<div class="titlex">
    <%= @det.recipeTitle %><br>
</div>

<div class="imagex">
    <%= image_tag @det.foodImageUrl %><br>
</div>

<div class="syousai">
    <%= link_to "詳しいレシピはこちらから", @det.recipeUrl, target: :_blank %>
</div>

<div class="syousai">
    <%= link_to "詳しいレシピはこちらから", @det.recipeUrl, target: :_blank %>
</div>

