<div class="blocktitle">
<h1>検索結果</h1>
<%#= @rec %>
<%#= @rec_foodImageUrl %>
<%#= @rec_recipeTitle %>
<%#= @rec_recipeIndication %>
<%#= @rec_recipeCost %>


<div class="row">
    <% @rec["result"].each do |data| %>
        <div class="col">
            <div class="titlex">
                <%= link_to_unless_current data["recipeTitle"]%>
            </div>

        <a href="http://localhost:3000/recipes/details">

            <div class="image">
                <%= image_tag data["foodImageUrl"] %>
            </div>
        </a>

            <div class="time">
                <%= link_to_unless_current data["recipeIndication"]%>
            </div>
            <div class="cost">
                <%= link_to_unless_current data["recipeCost"]%>
            </div>
        </div>
    <% end %>
</div>
