<div class="blocktitle">
<h1>検索結果</h1>
<%#= @rec %>
<%#= @rec_foodImageUrl %>
<%#= @rec_recipeTitle %>
<%#= @rec_recipeIndication %>
<%#= @rec_recipeCost %>
<hr>

<div class="row">
    <% @rec["result"].each do |data| %>
        <div class="col">
            <%= image_tag data["foodImageUrl"] %>
        </div>
    <% end %>
</div>

<div class="row">
    <% @rec["result"].each do |data| %>
        <div class="col">
            <%= link_to data["recipeTitle"]%>
        </div>
    <% end %>
</div>

<div class="row">
    <% @rec["result"].each do |data| %>
        <div class="col">
            <%= link_to data["recipeIndication"]%>
        </div>
    <% end %>
</div>

<div class="row">
    <% @rec["result"].each do |data| %>
        <div class="col">
            <%= link_to data["recipeCost"]%>
        </div>
    <% end %>
</div>
