<div class="blocktitle">
<h1>検索結果</h1>
<%#= @rec %>
<%#= @rec_foodImageUrl %>
<%#= @rec_recipeTitle %>
<%#= @rec_recipeIndication %>
<%#= @rec_recipeCost %>


<div class="row">
    <% @rec["result"].each do |data| %>
        <div class="col">
            <%= link_to_unless_current data["recipeTitle"]%>
            <%= image_tag data["foodImageUrl"] %>
            <%= link_to_unless_current data["recipeIndication"]%>
            <%= link_to_unless_current data["recipeCost"]%>
        </div>
    <% end %>
</div>
