<p id="notice"><%= notice %></p>

<p>
  <strong>ブロック:</strong>
  <%= @block.block %>
</p>

<div class= "modoru">
  <%= link_to '編集', edit_block_path(@block) %> |
  <%= link_to '戻る', blocks_path %>
</div>
