/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*ホーム画面*/
.title {
    color: rgb(165, 39, 39);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.col-12.col-md-6{
    padding:30px;
}

.card:hover{
    color: rgb(165, 39, 39);
    
}

.ss{
    text-decoration: none;
}

a:hover.ss{
    text-decoration: underline;
    color: rgb(165, 39, 39);
}

h3{
    font-size: 50px;
    color: rgb(165, 39, 39);
    text-decoration: ;
    text-align: center;
}

.card-text{
    font-size: 20px;
    text-align: center;
}
/*ブロック画面*/
.blocktitle h1{
    color: rgb(180, 81, 68);
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat', cursive;
    float: left;
}

<<<<<<< HEAD


.blocktitle h1 a {
		display: block;
		width: 64px;
		height: 69px;
		font-size: 0;
		background: url(images/home.png) right top/64px auto no-repeat;
	}








.th th {
    font-size: 150%;
}


.blockitiran{
    font-size: 27px;
=======

.itiran{
<<<<<<< HEAD
    font-size: 30px;
>>>>>>> 0e5187c16c5e459f66f75d62e75eab825e1471fd
=======
    font-size: 25px;
>>>>>>> d7c8cd761038c20d691902835a4944e392e1b638
    font-weight: bold;
    font-family: 'Caveat', cursive;
}

.itiran1{
    font-size: 120%;
    font-weight: bold;
    font-family: 'Caveat', cursive;
}

<<<<<<< HEAD
.blockitiran2{
    font-size: 15px;
=======
.itiran2{
<<<<<<< HEAD
    font-size: 18px;
>>>>>>> 0e5187c16c5e459f66f75d62e75eab825e1471fd
=======
    font-size: 15px;
>>>>>>> d7c8cd761038c20d691902835a4944e392e1b638
    font-weight: bold;
    font-family: 'Caveat', cursive;
    color:black;
}

.homeicon img{

}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    right: 0px;
}
#block_block{
    margin-top:20px;
    width: 300px;
    height:48px;
}

label{
    font-size: 30px;
}

.sen{
    border:solid 1px black;
}

th, table td {
    border: solid 1px black;
}

