/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*ホーム画面*/
.title {
    color: rgb(165, 39, 39);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.col-12.col-md-6{
    padding:30px;
}

.card:hover{
    opacity: 0.8;
    color: rgb(165, 39, 39);
}

.ss{
    text-decoration: none;
}

a:hover.ss{
    color: rgb(165, 39, 39);
}

h3{
    font-size: 35px;
    color: rgb(165, 39, 39);
    text-decoration: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.card-text{
    text-align: center;
}

/*各画面*/
.blocktitle h1{
    color: black;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat', cursive;
    float: left;
}

.th td{
    font-size: 150%;
}


td a{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

td li{
    color: rgb(180, 81, 68);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}

td{
    padding:0px;
    text-align: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    right: 15px;
}

#block_block{
    margin-top:20px;
    width: 300px;
    height:48px;
}

label{
    font-size: 25px;
}

.sen{
    border:solid 1px black;
}

th, td{
    border: solid 1px black;
}


.modoru{
    font-size: 15px;
}

.titlex{
    font-weight: bold;
    text-align:center;
    color:black;
}

.titlex:hover{
    color:grey;
}

.image img{
    width: 70%;
}

.image{
    text-align:center;
}


.time{
    margin-left:65%;
    font-size: 20px;
}

.cost{
    margin-left:65%;
    font-size: 20px;
}
.api{
    width: 103px;
}

.homeicon{
    width: 60px;
    float: right;
}

.imagex img{
    max-width:600px;
    width:65%;
}

.imagex{
    text-align: center;
}

.image :hover{
    opacity: 0.5;
}

.syousai{
    text-align: right;
    font-size: 15px;
}

.ninbun{
    font-size:25px;
    font-weight:bold;
    text-align:center;
}

td{
    font-weight:bold;
    font-size:15px;
}

.kirai{
    float:right;
    width:150px;
}

@media screen and (max-width: 1900px) {

    
    .card-text{
        font-size: 17px;
    }

    .titlex {
      font-size: 30px;
    }
    .syousai{
        font-size: 20px;
    }

    td{
        width:1000px;
        margin-left:200px;
    }
}


@media screen and (max-width: 993px) {

    
    .card-text{
        font-size: 12px;
    }
}


@media screen and (max-width: 900px) {

    .card-text{
        font-size: 11px;
    }

    .titlex {
      font-size: 23px;
    }

    .title{
        font-size: 50px;
    }

    .itiran1{
        font-size: 17px;
    }
}

@media screen and (max-width: 580px) {

    .titlex {
      font-size: 18px;
    }
    .syousai{
        font-size: 15px;
    }

    .ninbun{
        font-weight:bold;
        font-size:20px;
    }

    .itiran1{
        font-size: 15px;
    }
}
@media screen and (max-width: 350px) {

    .titlex {
      font-size: 15px;
    }

    .title{
        font-size: 30px;
    }
}