/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*ホーム画面*/
.title {
    color: rgb(165, 39, 39);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.col-12.col-md-6{
    padding:30px;
}

.card:hover{
    color: rgb(165, 39, 39);
}

.ss{
    text-decoration: none;
}

a:hover.ss{
    text-decoration: underline;
    color: rgb(165, 39, 39);
}

h3{
    font-size: 50px;
    color: rgb(165, 39, 39);
    text-decoration: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.card-text{
    font-size: 20px;
    text-align: center;
}

/*各画面*/
.blocktitle h1{
    color: rgb(180, 81, 68);
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    font-family: 'Caveat', cursive;
    float: left;
}

.th td{
    font-size: 150%;
}

.itiran{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.itiran1{
    font-size: 120%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.itiran2{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:black;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    right: 15px;
}

#block_block{
    margin-top:20px;
    width: 300px;
    height:48px;
}

label{
    font-size: 25px;
}

.sen{
    border:solid 1px black;
}

th, td{
    border: solid 1px black;
}


.modoru{
    font-size: 15px;
}

a img{
    margin: 0 36px 8px 0 ;
}

.titlex{
    font-size: x-large;
    font-weight: bold;
    text-align:center;
}

.image img{
    width: 70%;
}

.image{
    text-align:center;
}


.time{
    margin-left:70%;
    font-size: 20px;
}

.cost{
    margin-left:70%;
    font-size: 20px;
}
.api{
    width: 103px;
}

.homeicon{
    width: 60px;
    float: right;
}